.content_games {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background: #E6FDDD;
}

.game_block {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    align-self: center;
    max-width: 980px;
    gap: 31px;
}

.game_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}

.content_about {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background: #FFFFFF;
}

.about_divider {
    box-sizing: border-box;
    align-self: stretch;
    height: 2px; 
    max-width: 980px;
    width: 100%;
    margin: 0px auto; 
    background: #F0F0F0;
}

.about_item {
    display: flex;
    max-width: 980px;
    align-items: flex-start;
    gap: 30px;
    align-self: center;
}

.about_title {
    font-size: 28px;
    line-height: normal;
    color: #5DA356;

    box-sizing: border-box;
    width: 200px;
    flex-shrink: 0;
}

.content_contact {
    box-sizing: border-box;
    display: flex;
    padding: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background: #E6FDDD;
}

.contacts_block {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact_item {
    color: #5A8C4A;
    font-size: 20px;
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 480px) {
    .content_games {
        padding: 30px;
        gap: 20px;
    }

    .game_block {
        align-items: center;
        flex-direction: column;
    }

    .content_about {
        padding: 30px;
        gap: 20px;
    }

    .about_item {
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 10px;
    }

    .about_title {
        font-size: 24px;
        width: auto;
    }

    .content_contact {
        padding: 30px;
        gap: 20px;
    }

    .contacts_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 20px;
        gap: 20px;
        align-self: stretch;
    }

    .contact_item {
        font-size: 16px;
        line-height: 24px;
    }
}